.desktop {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    /* to allign the both contents left and right  */
    align-items: center;
    display: inline-flex;
    /* to vertically center an item */
    background-color: black;
}

.logo {
    text-decoration: none;
    color: grey;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;

}

.logo:hover {
    color: grey;
    border: 1px solid grey;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: grey;
    margin: 10px 20px;
    font-size: 20px;
}

.links:hover {
    color: grey;
    border: 1px solid grey;
}

.circle {
    background-color: rgb(255, 250, 250);
    width: 100%;
    height: 300px;
}

.circle img {
    clip-path: circle(40%);
    margin: 1.5rem 500px;
}

.rectangle {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 300px;

}

.rectangle img {
    clip-path: rect(top, right, bottom, left);
    margin: 1.5rem 500px;
}

.star {
    background-color: rgb(253, 251, 251);
    width: 100%;
    height: 300px;
}

.star img {
    clip-path: polygon(50% 0%,
            /* Top point */
            61% 35%,
            /* Top-right inner corner */
            98% 35%,
            /* Right point */
            68% 57%,
            /* Bottom-right inner corner */
            79% 91%,
            /* Bottom-right point */
            50% 70%,
            /* Bottom inner point */
            21% 91%,
            /* Bottom-left point */
            32% 57%,
            /* Bottom-left inner corner */
            2% 35%,
            /* Left point */
            39% 35%
            /* Top-left inner corner */
        );
    margin: 1.5rem 500px;
}

h1 {
    margin: 1.5rem 590px;

}

#last {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: -20px;
}

footer {
    position: absolute;
    color: grey;
    margin-left: 38%;
}

.contactIcons {
    display: flex;
    margin-left: 40%;
}

#last a {
    margin: 1rem;
    font-size: larger;
    color: grey;
}

h2 {
    margin-left: 48%;
    color: grey;
}

hr {
    margin: 0px 1rem;
    color: white;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .desktop {
        width: 100%;
        height: 70px;
        justify-content: space-between;
        /* to allign the both contents left and right  */
        align-items: center;
        display: inline-flex;
        /* to vertically center an item */
        background-color: black;
    }

    .logo {
        text-decoration: none;
        color: grey;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;

    }

    .logo:hover {
        color: grey;
        border: 1px solid grey;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
    }

    .links {
        text-decoration: none;
        color: grey;
        margin: 10px 20px;
        font-size: 20px;
    }

    .links:hover {
        color: grey;
        border: 1px solid grey;
    }

    .circle {
        background-color: rgb(255, 250, 250);
        width: 100%;
        height: 300px;
    }

    .circle img {
        clip-path: circle(40%);
        margin: 1.5rem 500px;
    }

    .rectangle {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 300px;

    }

    .rectangle img {
        clip-path: rect(top, right, bottom, left);
        margin: 1.5rem 500px;
    }

    .star {
        background-color: rgb(253, 251, 251);
        width: 100%;
        height: 300px;
    }

    .star img {
        clip-path: polygon(50% 0%,
                /* Top point */
                61% 35%,
                /* Top-right inner corner */
                98% 35%,
                /* Right point */
                68% 57%,
                /* Bottom-right inner corner */
                79% 91%,
                /* Bottom-right point */
                50% 70%,
                /* Bottom inner point */
                21% 91%,
                /* Bottom-left point */
                32% 57%,
                /* Bottom-left inner corner */
                2% 35%,
                /* Left point */
                39% 35%
                /* Top-left inner corner */
            );
        margin: 1.5rem 500px;
    }

    h1 {
        margin: 1.5rem 590px;

    }

    #last {
        background-color: black;
        width: 100%;
        height: 200px;
        margin-top: -20px;
    }

    footer {
        position: absolute;
        color: grey;
        margin-left: 38%;
    }

    .contactIcons {
        display: flex;
        margin-left: 40%;
    }

    #last a {
        margin: 1rem;
        font-size: larger;
        color: grey;
    }

    h2 {
        margin-left: 48%;
        color: grey;
    }

    hr {
        margin: 0px 1rem;
        color: white;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
    nav {
        height: 130px
    }

    .nav-links {
        display: block;
    }

    footer {
        position: absolute;
        color: grey;
        margin-left: 18%;
    }

    .contactIcons {
        display: flex;
        margin-left: 23%;
    }

    h2 {
        margin-left: 40%;
        color: grey;
    }

    .star,
    .circle,
    .rectangle {
        margin-left: -400px;
    }

}


/* Extra small devices (phones, 600px and down) */
@media screen and (min-width:600px) and (max-width: 992px) {
    nav {
        height: 130px
    }

    .nav-links {
        display: block;
    }

    footer {
        position: absolute;
        color: grey;
        margin-left: 18%;
    }

    .contactIcons {
        display: flex;
        margin-left: 23%;
    }

    h2 {
        margin-left: 40%;
        color: grey;
    }

    .star,
    .circle,
    .rectangle {
        margin-left: -200px;
    }

}